@import "tailwindcss";

:root {
  --background: #0b0b0b;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0b;
    --foreground: #ffffff;
  }
}

@font-face {
	font-family: 'Authentic Sans';
	src: url('/fonts/authentic-sans-130.otf') format('opentype');
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Authentic Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.2em;
  letter-spacing: -.02em;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  display: none;
}

#blur {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	z-index: 10;
  
}

#blur::before {
	content: "";
	position: absolute;
  transform: translateY(-100%);
	z-index: -1;
	inset: 0;
	-webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
	mask-image: linear-gradient(to top, rgb(11, 11, 11) 33.333%, transparent);
	height: 5vh;
	background-color: rgba(11, 11, 11, .25);
	transition: .666s;
  /* pointer-events: none; */
}

#blur.about::before,
#blur.single::before {
	-webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
	background-color: rgba(11, 11, 11, .666);
}

#blur.about::before {
	height: 300vh;
}

#blur.single::before {
	height: 100vh;
}