@import "tailwindcss";

:root {
  --background: #0b0b0b;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0b;
    --foreground: #ffffff;
  }
}

@font-face {
	font-family: 'Authentic Sans';
	src: url('/fonts/authentic-sans-130.otf') format('opentype');
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Authentic Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1em;
  letter-spacing: -.02em;
  -webkit-font-smoothing: antialiased;
}
