@import "tailwindcss";

:root {
  --background: #0b0b0b;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --kv: 8px;
  --lh: calc(13px * 1.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
	font-family: 'Authentic Sans';
	src: url('/fonts/authentic-sans-130.otf') format('opentype');
  font-style: normal;
}

body {
  background: var(--background);
  color: white;
  font-family: 'Authentic Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: -.02em;
  line-height: var(--lh);
}

*::-webkit-scrollbar {
  display: none;
}

/* blur */

#blur {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 9;
}

#blur::before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0;
	-webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
	mask-image: linear-gradient(to bottom, rgb(11, 11, 11) 33.333%, transparent);
	height: 5vh;
	background-color: rgba(11, 11, 11, .15);
	transition: .5s;
}

#blur.about::before,
#blur.single::before {
	-webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
	background-color: rgba(11, 11, 11, .666);
}

#blur.about::before {
	height: 300vh;
}

#blur.single::before {
	height: 100vh;
}

@media (max-width: 1024px) {

  #blur {
    top: auto;
    bottom: 0;
  }

  #blur::before {
    mask-image: linear-gradient(to top, #0b0b0b 33.333%, transparent);
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
  }

    #blur.single::before {
      height: 66.666vh;
    }

}
